<html lang="en" class = "has-background-black">
<h1 class = "is-size-1 is-uppercase has-text-weight-bold has-text-centered has-text-primary" style="margin-top: 100px;">Nosotros</h1>

<body class = "has-text-centered mx-6">
    <div class = "mx-6">
    <div class = "mx-6">
    <p class = "has-text-justified is-size-3 mx-6">
    ¡Bienvenidos a Naik, tu plataforma definitiva para conseguir las zapatillas ninja más exclusivas 
    del mercado! En Naik, hemos creado un espacio único donde los fanáticos de las zapatillas pueden encontrar y adquirir modelos únicos 
    y de edición limitada a través de subastas emocionantes. Nuestra plataforma no solo te ofrece la oportunidad de pujar por zapatillas 
    de alto rendimiento, sino que también te brinda la posibilidad de compartir tus experiencias y opiniones en forma de reseñas. 
    Queremos que te sientas parte de una comunidad apasionada por el calzado ninja, donde puedas conectar con otros entusiastas, 
    descubrir las últimas tendencias y compartir tus mejores hallazgos. ¡Explora nuestra amplia selección de zapatillas ninja, participa 
    en subastas emocionantes y sé parte de la revolución Naik!
    </p>
    </div>
    </div>
    <div class = "card is-size-4 has-text-light">
        <footer class = "card-footer has-text-centered">
            <h3 class = "card-footer-item"><%= link_to "Volver", :root, method: :get %> </h3>
        </footer>
    </div>
</body>
</html>