<html lang="en" class = "has-background-black">
<h1 class = "is-size-1 is-uppercase has-text-weight-bold has-text-centered has-text-primary" style="margin-top: 100px;">Tus Me Gustas</h1>

<body class = "columns is-gapless">
    <ul class = "column is-size-4 has-text-centered has-text-light">
        <% @likes.each do |like| %>
            <li>
                <% Producto.all.each do |producto| %>
                    <% if producto.id == like.producto_id %>
                        <p><%= link_to producto.name, producto_url(@user, producto) %>
                        <%= " " + "-" * 30 + "> " %>
                        <%= link_to "Eliminar?", destroy_like_url(@user, like), data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro?"} %></p>
                    <% end%>
                <% end%>
            </li>
        <% end %>
    </ul>
    <div class = "card is-size-4 has-text-light">
        <footer class = "card-footer has-text-centered">
            <h3 class = "card-footer-item"><%= link_to "Volver", ver_path, method: :get %> </h3>
        </footer>
    </div>
</body>
</html>